@font-face {
    font-family: dusksquare;
    src: url(../font/Duskersquare_Regular.otf);
}
:root {
    --fz-small: 1.5vw;
    --fz-medium: 2vw;
    --fz-big: 2.5vw;
}
body {
    width: 98%;
    margin: 0 auto;
    background: linear-gradient(rgb(182, 182, 182), rgb(141, 141, 141));
    background-attachment: fixed;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#pokedex {
    /* background-color: yellow; */
    position: relative;
    width: 68.5%;
    margin: 3% auto;
    border-radius: 2vw;
    box-shadow: 1vw 1vw #b4292a;
}
#pokedex #background {
    border-radius: 2vw;
    display: block;
    width: 100%;
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
}
a {
    /* background-color: red; */
    width: 2vw;
    height: 2vw;
    position: absolute;
}
#home {
    
    border-radius: 50%;
    width: 5.7vw;
    height: 5.7vw;
    top: 1.40vw;
    left: 1.84vw;
}
#home:hover {
    background-color: white;
    opacity: 0.2;
}
#rps3 {
    /* background-color: rgb(255, 20, 145); */
    top: 1.65vw;
    left: 8.7vw;
}
#rps5 {
    /* background-color: green; */
    top: 1.65vw;
    left: 11.45vw;
}
#howtoplay {
    /* background-color: orange; */
    top: 1.65vw;
    left: 14.2vw;
}
#titleimg {
    position: absolute;
    width: 45%;
    top: 15%;
    left: 0;
    right: 0;
    margin: auto;
}
#titlebuttons {
    /* background-color: yellow; */
    position: absolute;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    bottom: 20%;
}
#titlebuttons button:nth-of-type(1) {
    background: linear-gradient(#e79213 0%, #c3c601 50%, #e79213 100%);
}
#titlebuttons button:nth-of-type(2) {
    background: linear-gradient(#0ae967 0%, #01c632 50%, #0ae967 100%);
}
#scores {
    /* background-color: lime; */
    width: 50%;
    position: absolute;
    top: 3%;
    right: 5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#scores p {
    /* background-color: red; */
    width: 40%;
    text-align: start;
}
#scores span {
    color: rgb(238, 238, 0);
}
div[id^="type"] {
    /* background-color: red; */
    position: absolute;
    top: 22%;
}
 div[id^="type"] img {
    /* background-color: red; */
    border-radius: 50%;
    border: 0.5vw solid #16435f;
    width: 14vw;
    box-shadow: 0.2vw 0.2vw #56565650;
}
#type1 {
    left: 15%;
}
#type2 {
    right: 15%;
}
div[id^="type"] p:nth-of-type(1), #winner, #scores, #howtotitle {
    color: #d8edfa;
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--fz-small);
    text-align: center;
}
div[id^="type"] p:nth-of-type(2) {
    font-family: dusksquare;
    color: white;
    font-size: var(--fz-medium);
    text-align: center;
    letter-spacing: 0.3vw;
    margin-top: 4%;
    -webkit-text-stroke: 0.12vw black;
    
}
#vs {
    position: absolute;
    top: 45%;
    left:0;
    right: 0;
    margin: auto;
    width: 10vw;
}
#winner {
    font-size: var(--fz-big);
    position: absolute;
    text-transform: none;
    left: 0;
    right: 0;
    bottom: 2%;
}
.battleretry {
    position: absolute;
    right: 3vw;
    bottom: 3vw;
    width: 10%;
    /* height: fit-content; */
    padding: 0;
    border: none;
    border-radius: 50%;
    box-shadow: 0.3vw 0.3vw #56565663;
}
.battleretry:hover {
    cursor: pointer;
    transform: scale(1.02);
}
.battleretry:active {
    filter: brightness(0.9);
}
.battleretry:disabled {
    filter: brightness(0.8);
}
.battleretry img {
    display: block;
    width: 100%;
}
#buttons {
    /* background-color: yellow; */
    width: 80%;
    margin: auto;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-evenly;
    gap: 4vw;

}
#buttons button, #titlebuttons button {
    border-radius: 50vw;
    border: 0.2vw solid white;
    outline: 0.25vw solid black;
    height: 3vw;
    width: 20vw;
    font-family: dusksquare;
    font-size: var(--fz-medium);
    color: white;
    -webkit-text-stroke: 0.12vw black;
}
#buttons button:hover , #titlebuttons button:hover {
    cursor: pointer;
    box-shadow: 0 0 1vw 1vw #d5dfe9;
}
#buttons button:active , #titlebuttons button:active {
    filter: brightness(0.9);
}
#buttons button:disabled {
    filter: brightness(0.8);
    pointer-events: none;
}
#fire {
    background: linear-gradient(#e74713 0%, #c62201 50%, #e74713 100%);
}
#grass {
    background: linear-gradient(#84c64e 0%, #45722c 50%, #84c64e 100%);
}
#water {
    background: linear-gradient(#47a0f0 0%, #0c67c1 50%, #47a0f0 100%);
}
#rock {
    background: linear-gradient(#bca966 0%, #9e863c 50%, #bca966 100%);
}
#ground {
    background: linear-gradient(#d8b764 0%, #a38734 50%, #d8b764 100%);
}
#ice {
    background: linear-gradient(#baebfc 0%, #6bd3f4 50%, #baebfc 100%);
}
#howtotitle {
    /* background-color: blue; */
    font-size: var(--fz-big);
    width: fit-content;
    position: absolute;
    top: 2%;
    left: 35%;
}
#htp {
    position: absolute;
    top: 15%;
    bottom: 0;
    display: flex;
    justify-content: center;
    /* background-color: lime; */
    width: 100%;
}
#htp div {
    /* background-color: deeppink; */
    width: 20vw;
    height: fit-content;
    position: relative;
    margin: 8%;
}
#htp img {
    display: block;
}
#htp img:first-of-type {
    width: 100%;
    border: 0.2rem solid #16435f;
    border-radius: 3vw;
}
#htp img:not(:first-of-type) {
    position: absolute;
    width: 4.3vw;
    transition: transform ease-in-out 0.5s;
    /* filter: brightness(0.5); */
}
#htp img:not(:first-of-type):hover {
    transform: rotate(360deg) scale(1.05);
}
#htp3 img[src*="fire"] {
    bottom: 15%;
    right: 4%;
    /* visibility: hidden; */
}
#htp3 img[src*="water"] {
    bottom: 15%;
    left: 7%;
    /* visibility: hidden; */
}
#htp3 img[src*="grass"] {
    top: 6.5%;
    right: 38%;
    /* visibility: hidden; */
}
#htp5 img[src*="fire"] {
    top: 10%;
    left: 41%;
}
#htp5 img[src*="grass"] {
    top: 33%;
    right: 5.5%;

}
#htp5 img[src*="ground"] {
    top: 33%;
    left: 9%;
}
#htp5 img[src*="ice"] {
    left: 21%;
    bottom: 10%;
}
#htp5 img[src*="rock"] {
    right: 18%;
    bottom: 10%;
}
/*Bootstrap's Tooltip*/
.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    line-break: auto;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    font-size: 1.5vw;
    filter: alpha(opacity=0);
    opacity: 0;
  }
  .tooltip.in {
    filter: alpha(opacity=90);
    opacity: 0.9;
  }
  .tooltip.top {
    padding: 5px 0;
    margin-top: -3px;
  }
  .tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
  }
  .tooltip-inner {
    max-width: 200px;
    padding: 6px 10px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
  }
  .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
@media screen and (max-width: 1023px){
    :root {
        --fz-small: 2vw;
        --fz-medium: 2.5vw;
        --fz-big: 3vw;
    }
    #pokedex {
        width: 90%;
    }
    a {
        width: 3vw;
        height: 3vw;
        position: absolute;
    }
    #home {
        width: 7.5vw;
        height: 7.5vw;
        top: 1.85vw;
        left: 2.5vw;
    }
    #rps3 {
        /* background-color: rgb(255, 20, 145); */
        top: 2vw;
        left: 11.5vw;
    }
    #rps5 {
        /* background-color: green; */
        top: 2vw;
        left: 15vw;
    }
    #howtoplay {
        /* background-color: orange; */
        top: 2vw;
        left: 18.5vw;
    }
    #buttons {
        /* background-color: yellow; */
        width: 100%;
        flex-flow: wrap row;
    }
    div[id^="type"] img {
        width: 20vw;
    }
    #titlebuttons button {
        border: 0.25vw solid white;
        outline: 0.3vw solid black;
        height: 4vw;
        width: 25vw;
        -webkit-text-stroke: 0.15vw black;
    }
    #buttons button {
        font-size: 4vw !important;
        height: 5vw;
        width: 30%;
        border: 0.25vw solid white;
        outline: 0.3vw solid black;
        -webkit-text-stroke: 0.2vw black;
    }
    #htp div {
        width: 25vw;
    }
    #htp img:not(:first-of-type) {
        width: 5vw;
    }
}
@media screen and (max-width: 767px){
    :root {
        --fz-small: 2.5vw;
        --fz-medium: 3vw;
        --fz-big: 4vw;
    }
    #pokedex {
        width: 98%;
    }
    a {
        width: 3vw;
        height: 3vw;
        position: absolute;
    }
    #home {
        width: 8.5vw;
        height: 8.5vw;
    }
    #rps3 {
        top: 2.5vw;
        left: 12.5vw;
    }
    #rps5 {
        top: 2.5vw;
        left: 16.5vw;
    }
    #howtoplay {
        top: 2.5vw;
        left: 20.5vw;
    }
    #titlebuttons button {
        border: 0.3vw solid white;
        outline: 0.35vw solid black;
        -webkit-text-stroke: 0.17vw black;
    }
    #buttons {
        width: 80%;
        margin: 3% auto;
        padding: 5%;
        background: linear-gradient(#71a1bd, #6d99b4);
        border: 2vw solid #ff3334;
        box-shadow: 1vw 1vw #b4292a;
        border-radius: 5vw;
    }
    #buttons button {
        font-size: 5vw !important;
        height: 8vw;
        width: 80%;
        border: 0.4vw solid white;
        outline: 0.5vw solid black;
        -webkit-text-stroke: 0.25vw black;
    }
    #htp div {
        width: 28vw;
    }
    #htp img:not(:first-of-type) {
        width: 5.5vw;
    }
}